{% extends 'body.html' %}
{% block title %}{{ fully_qualified_name }} {% endblock %}
{% block body %}

<a href="{{ path }}"><h1>Documentation for <code>t.{{ fully_qualified_name }}</code></h1></a>

<p><code>{{ signature }} </code></p>

<div class="card-columns">
    {% if brief %}
    <div class="card text-white">
        <div class="card-header">Brief</div>
        <div class="card-body">
            <p>{{ brief | safe }}</p>
        </div>
    </div>
    {% endif %}

    {% if help %}
    <div class="card text-white">
        <div class="card-header">Help</div>
        <div class="card-body">
            <p>{{ help | safe }}</p>
        </div>
    </div>
    {% endif %}

    {% if aliases %}
    <div class="card text-white">
        <div class="card-header">Aliases</div>
        <div class="card-body">
            {% for alias in aliases %}
                <code>{{ alias }} </code>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if examples %}
    <div class="card text-white">
        <div class="card-header">Examples</div>
        <div class="card-body">
            <ul>
                {% for example in examples %}
                <li><code>{{ example }} </code></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if cooldown %}
    <div class="card text-white">
        <div class="card-header">Limits</div>
        <div class="card-body">
            <p class="card-text"><strong>{{ cooldown['type'] }}-scoped</strong> {{ cooldown['rate'] }} message{{ "s" if cooldown['rate'] - 1 else "" }} per {{ cooldown['per'] }} seconds</p>
        </div>
    </div>
    {% endif %}

    {% if parent %}
    <div class="card text-white bg-success">
        <div class="card-header"><a href="{{ parent['path'] }}"><code>t.{{ parent['fully_qualified_name'] }}</code></a></div>
        <div class="card-body">
            <p>{{ parent['brief'] | safe }}</p>
        </div>
        <div class="card-footer ">Parent command</div>
    </div>
    {% endif %}

    {% if is_group %}
        {% for child in child_commands %}
            <div class="card text-white bg-info">
                <div class="card-header"><a href="{{ child['path'] }}"><code class="fg-pink">t.{{ child['fully_qualified_name'] }}</code></a></div>
                <div class="card-body">
                    <p>{{ child['brief'] | safe }}</p>
                </div>
                <div class="card-footer ">Subcommand</div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
