{% extends 'body.html' %}
{% block title %}Table of Contents{% endblock %}
{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h4>Social Media</h4>
        <p><a href="https://discord.gg/T5KbFBy">Discord server</a></p>
        <p><a href="https://twitter.com/cyborgtoastey">Twitter</a></p>
    </div>
    <div class="col-12">
        <h1>Table of Contents</h1>
        <p>There's a total of <b>{{ commands|length }}</b> commands! 🎉   <a href="#groupinfo"><sup>1</sup></a></p>
        <ul>
        {% for command in commands %}
            {% if not command['hidden'] and command['enabled'] and not command['parent'] %}
                {% if command['is_group'] %}
                    {% set gmark = "🔸" %}
                {% else %}
                    {% set gmark = "" %}
                {% endif %}
                <li><a href="{{ command['path'] }}"><code>{{ command['fully_qualified_name'] }} {{ gmark }}</code></a> {% if command['brief'] %}{{ command['brief'] }} {% else %}{{ " " }} {% endif %}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <p id="groupinfo">[1] All entries marked with 🔸 are command groups</p>
    </div>
</div>
{% endblock %}